wheel
setuptools
pathlib
mrjob==0.7.4
pyYAML
py4j
numpy
pandas
pyspark
pymongo
celery
redis
clickhouse_driver
apache-airflow-providers-redis
apache-airflow-providers-celery
apache-airflow-providers-apache-spark
psycopg2-binary
apache-airflow-providers-smtp
snowflake-connector-python
pendulum
SQLAlchemy 
Flask-SQLAlchemy